*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    font-family:'Outfit', serif;
    font-size: 18px;
}

.preview-card-container
{
    width:  400px;
    height: auto;
    background: hsl(216, 50%, 16%);
    border-radius: 10px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin: 8rem auto;
}

.image-area
{
    
    width: 350px;
    height: 330px;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.image-area img
{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    background-color:hsl(178, 100%, 50%);
}

.image-area img:hover
{
    mix-blend-mode: luminosity;
}

.card-content   
{
    padding: 0 1.6rem;
}

.card-content h2:hover
{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card-stats 
{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1.6rem;
    border-bottom: 0.8px solid hsl(215, 32%, 27%);
    padding-bottom: 2rem;
    font-weight: 600;
}

.eth, .days
{
    display: flex;
}

.eth img, .days img
{
    padding: 0 0.6rem;
    align-items: center;
    object-fit: cover;
}

.eth p
{
    color: hsl(178, 100%, 50%);
    text-transform: uppercase;
}

.days p
{
    opacity: 30%;
}

.creator
{
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    padding-bottom: 2rem;

}

.creator p
{
margin-left: 1rem;
text-align: center;
cursor: pointer;
}

.creator p:hover
{
    color: hsl(178, 100%, 50%);
}

mark 
{
    background: none;
    color: hsl(0, 0%, 100%);
    opacity: 70%;
}

footer
{
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1px;
}

@media screen and (max-width: 440px) {

.preview-card-container
{
    width: calc(100vw - 10%);
    height: auto;

}

.image-area
{
    width: 270px;
    height: 300px;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.image-area img
{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.card-content p 
{
    font-size: .9rem;
}
}